.getStartedBanner {
    background-color: $lightGrey;
    padding:4rem 0 0 0;
    position: relative;

    h5 {
        color: $mediumPurple;
        font-family: $roboBold;
        font-size: 4rem;
    }
    h6 {
        color: $darkPurple;
        font-family: $roboMedium;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .btn-group {
        gap: 30px;
    }
}
