#portfolioPageTop {
    height: 70vh;
    overflow: hidden;
    position: relative;

    img.mainBgImage {
        display: block;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 40;

        h1 {
            color: $white;
            font-family: $roboBold;
            font-size: 6rem;
        }
        p {
            color: $white;
            font-family: $montsReg;
            font-size: 1.25rem;
            margin-bottom: 2.5rem;
        }
    }
}
