#whoWorkWithMainPageTop {
    height: 600px;
    position: relative;

    img.mainBgImage {
        display: block;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 40;

        h1 {
            color: $white;
            font-family: $roboBold;
            font-size: 6rem;
        }
        p {
            color: $white;
            font-family: $montsReg;
            font-size: 1.25rem;
            margin-bottom: 2.5rem;
        }
    }
}
#whoWorkWithMainPageMain {
    background-color: $white;
    padding: 4rem 0;
    .wwwItem {
        border-radius: 20px;
        height: 250px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;

        a {
            text-decoration: none;
            @include transition(all .4s ease-in-out);
            img {
                display: block;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                @include transition(all .4s ease-in-out);
                width: 100%;
            }
            .content {
                align-items: center;
                background-color: rgba(41, 17, 80, .65);
                display: flex;
                flex-direction: column;;
                height: 100%;
                justify-content: center;
                position: absolute;
                text-align: center;
                top: 0;
                @include transition(all .4s ease-in-out);
                width: 100%;

                h4 {
                    color: $white;
                    font-family: $roboMedium;
                    font-size: 1.75rem;
                    .fa-arrow-right-long {
                        font-size: 0;
                        margin-left: 5px;
                        @include transition(all .4s ease-in-out);
                    }
                }

            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .content {
                    h4 {
                        .fa-arrow-right-long {
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        }
    }
}
